
/*.plain { border:2px solid silver; text-align:center;}*/
.plain { text-align:center;}
.vbtn {height:22; width:22; font:bold 10pt arial; border:2px solid silver;}
.timebox { border:2px solid silver; font:9pt arial;}